<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.AdvertisementListMapper">

    <insert id="insert" parameterType="com.example.entity.Advertisement">
        insert into `advertisement` (title,content,image,category,keywords,create_time,user_id,user_name)
        values (#{title},#{content},#{image},#{category},#{keywords},#{createTime},#{userId},#{userName})
    </insert>

    <select id="selectAll" resultType="com.example.entity.Advertisement">
        select * from `advertisement`
    </select>
</mapper>